name: CI

on:
  push:
    branches: [main]

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set Up Python
        uses: actions/setup-python@v5
        with: 
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: playwright install --with-deps
      
      - name: Start flask server
        run: |
          export FLASK_APP=app.py
          export FLASK_RUN_HOST=0.0.0.0
          export FLASK_RUN_PORT=5000
          flask run &
          sleep 5

      - name: Run tests
        run: |
          export PLAYWRIGHT_HEADLESS=1
          pytest --cov=services --cov-branch --cov-report=xml  tests/
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}